<!DOCTYPE html>
<html lang="en">
<head>
    <title>Regirstration</title>
</head>
<body>
    <h1>Regirstration</h1>
    <form action="../controller/regCheck.php" method="post">
        <label for="text">Enter Name:</label>
        <input type="text" name="name" value=""> <br>
        <label for="email">Enter Email:</label>
        <input type="email" name="email" value=""> <br>
        <label for="password">Enter password:</label>
        <input type="password" name="password" value="">  <br>
        <input type="submit" name="submit" value="Submit">

    </form>
    
</body>
</html>